.chat-main
  .chat-main__header
    .chat-main__header--group
      .chat-main__header--group-name
        group-name
      .chat-main__header--group-member
        group-member
    .chat-main__header--group-edit
      = link_to 'Edit', edit_group_path(current_user)
  .chat-main__body
    .chat-main__body--message-list
      .chat-main__message
        .chat-main__message-name
          message-name
        .chat-main__message-time
          0000/00/00 00:00:00
        .chat-main__message-body
          message-body
  .chat-main__footer
    %form
      .chat-main__footer-body
        %input.message{type: "text", value: "type a message"}
        %label.message_image
          %i.fa.fa-image
          %input.message_image-file{type: "file"}
        %input.submit{type: "submit", value: "Send"}

